/* VARIABLES */
:root {
  --main-font-family:"Public Sans", "Arial", sans-serif;
  --dm-displey-font-family: "DM Serif Display", "Times New Roman", serif;
  --main-font-size:15px;
  --main-bg-color: #fff;
  --dark-pink:#ba4270;
  --wather-white: #fbfcfe;
  --sanjun-blue: #36536b;
  --mirage-blue:#1b262f;
  --charm-pink:#da6d97;
  --juan-blue:#6c8294;
}

/* FONTS */
/* public-sans-regular - latin */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/public-sans-v14-latin-regular.woff2") format("woff2"), url("../fonts/public-sans-v14-latin-regular.woff") format("woff");
}
/* public-sans-700 - latin */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/public-sans-v14-latin-700.woff2") format("woff2"), url("../fonts/public-sans-v14-latin-700.woff") format("woff");
}
/* dm-serif-display-regular - latin */
@font-face {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/dm-serif-display-v10-latin-regular.woff2") format("woff2"), url("../fonts/dm-serif-display-v10-latin-regular.woff") format("woff");
}
/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
========================================================================== */
/**
* Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
* Render the `main` element consistently in IE.
*/
main {
  display: block;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
========================================================================== */
/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
========================================================================== */
/**
* Remove the gray background on active links in IE 10.
*/
a {
  background-color: transparent;
}

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
========================================================================== */
/**
* Remove the border on images inside links in IE 10.
*/
img {
  border-style: none;
}

/* Forms
========================================================================== */
/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input { /* 1 */
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select { /* 1 */
  text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/
textarea {
  overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
========================================================================== */
/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block;
}

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item;
}

/* Misc
========================================================================== */
/**
* Add the correct display in IE 10+.
*/
template {
  display: none;
}

/**
* Add the correct display in IE 10.
*/
[hidden] {
  display: none;
}

/* GENERAL */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #EDF3F8;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Public Sans", "Arial", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

/* STICKY-FOOTER */
.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1150px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* ============ Burger Menyu ============= */
.site-header {
  padding: 30px 0 51px;
}

.hero-header-wrapper {
  background-image: url("../../images/Bitmap.svg");
  background-repeat: no-repeat;
  background-position: center -550px;
}

.site-header__burger {
  width: 28px;
  height: 17px;
  background-color: transparent;
  background-image: url("../images/burger.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
}

.site-header-close {
  background-image: url("../images/x-reset.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 22px;
  height: 22px;
  margin-bottom: 64px;
  margin-left: 220px;
  position: relative;
}
.site-header-close::before {
  position: absolute;
  left: -220px;
  bottom: -24px;
  background-color: var(--wather-white);
  width: 249px;
  height: 1px;
  opacity: 0.15;
  content: "";
}

.site-nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 49px;
}

.site-header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  max-width: 300px;
  width: 100%;
  background-color: var(--mirage-blue);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

.site-nav__wrapper.shownav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.sitenav-list {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

.sitenav-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: inline-block;
  margin-bottom: 32px;
  color: var(--wather-white);
  opacity: 0.7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.sitenav-link:hover {
  opacity: 1;
}

.site-nav__btn {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  letter-spacing: -0.115385px;
  color: var(--wather-white);
  background-color: var(--dark-pink);
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  padding: 16px 34px 14px 38px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.site-nav__btn:hover {
  background-color: var(--charm-pink);
}

@media only screen and (min-width: 700px) {
  .site-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sitenav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 30px;
  }
  .site-nav__button {
    margin-left: auto;
    margin-top: -20px;
  }
  .site-header__burger {
    display: none;
  }
  .site-nav__wrapper {
    position: static;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    max-width: none;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    background-color: transparent;
    padding-top: 0;
  }
  .site-header-close {
    display: none;
  }
  .sitenav-link {
    color: var(--juan-blue);
    margin-bottom: 0;
    margin-left: 10px;
  }
}
@media only screen and (min-width: 1000px) {
  .sitenav-list {
    margin-left: 65px;
  }
  .sitenav-link {
    margin-left: 40px;
  }
}
/* HERO SECTION START */
.hero-section__img {
  width: 150px;
  height: 223px;
  margin-right: auto;
  margin-left: auto;
}

.hero-section__bg {
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
}

.section__text-box {
  max-width: 290px;
  width: 100%;
}

.hero-section__title {
  font-family: var(--main-font-family);
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.246154px;
  color: #36536B;
}

.hero-section__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section__input-email {
  max-width: 300px;
  width: 100%;
  margin-bottom: 16px;
  padding-top: 16px;
  padding-bottom: 14px;
  padding-left: 27px;
  border: none;
  background-color: #FBFCFE;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
}

.hero-section__form-btn {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.115385px;
  color: var(--wather-white);
  max-width: 300px;
  width: 100%;
  margin-bottom: 24px;
  padding: 16px 46px 14px 50px;
  background-color: var(--dark-pink);
  border-radius: 24px;
  border: none;
  cursor: pointer;
}

.hero-section__form-btn:hover {
  background-color: var(--charm-pink);
}

.hero-section__more {
  display: block;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: var(--juan-blue);
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .hero-section__img {
    width: 200px;
    height: 280px;
  }
}
@media only screen and (min-width: 767px) {
  .hero-header-wrapper {
    background-position: center -470px;
  }
  .hero-section__form {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero-section__img {
    width: 200px;
    height: 279px;
  }
  .hero-section__input-email {
    max-width: 445px;
  }
  .hero-section__form-btn {
    position: absolute;
    top: 0;
    right: 120px;
    padding: 15px 20px;
    text-align: center;
    max-width: 173px;
  }
}
@media only screen and (min-width: 992px) {
  .hero-header-wrapper {
    background-position: 565px -355px;
  }
  .hero-section__bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .hero-section__img {
    margin-right: 0;
    margin-left: auto;
    width: 280px;
    height: 465px;
  }
  .hero-section__text-box {
    width: 546px;
  }
  .hero-section__title {
    text-align: start;
    font-size: 67px;
    line-height: 72px;
  }
  .hero-section__form {
    width: 445px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hero-section__form-btn {
    right: 0;
  }
  .hero-section__more {
    text-align: start;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-header-wrapper {
    background-position: 813px -340px;
  }
}
/* HERO SECTION FINISH */
.hero-header-wrapper--position {
  background-position: 69px -610px;
}

.contact-hero {
  padding-top: 8px;
}

.contact-hero__title {
  font-family: "DM Serif Display";
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
  letter-spacing: -0.246154px;
  color: #36536B;
}

.contact-hero__wrapper {
  margin-bottom: 80px;
}

.contact-form {
  width: 100%;
  max-width: 445px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.contact-form__input {
  display: block;
  width: 100%;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 8px;
  padding: 0 20px 17px 20px;
  letter-spacing: -0.115385px;
  color: #36536B;
  mix-blend-mode: normal;
  background-color: transparent;
  border: 0;
  opacity: 1;
  border-bottom: 1px solid rgba(54, 83, 107, 0.5019607843);
}

.contact-form__input::-webkit-input-placeholder {
  opacity: 0.5;
}

.contact-form__input::-moz-placeholder {
  opacity: 0.5;
}

.contact-form__input:-ms-input-placeholder {
  opacity: 0.5;
}

.contact-form__input::-ms-input-placeholder {
  opacity: 0.5;
}

.contact-form__input::placeholder {
  opacity: 0.5;
}

.contact-form__textarea {
  resize: none;
  width: 100%;
  font-size: 15px;
  line-height: 25px;
  padding: 0 20px 17px 20px;
  letter-spacing: -0.115385px;
  color: #36536B;
  mix-blend-mode: normal;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(54, 83, 107, 0.5019607843);
}

.contact-form__textarea::-webkit-input-placeholder {
  opacity: 0.5;
}

.contact-form__textarea::-moz-placeholder {
  opacity: 0.5;
}

.contact-form__textarea:-ms-input-placeholder {
  opacity: 0.5;
}

.contact-form__textarea::-ms-input-placeholder {
  opacity: 0.5;
}

.contact-form__textarea::placeholder {
  opacity: 0.5;
}

.contact-form__input:not(:-moz-placeholder-shown):not(:focus):invalid {
  color: rgba(255, 0, 0, 0.5019607843);
  border-bottom: 1px solid rgba(255, 0, 0, 0.5019607843);
}

.contact-form__input:not(:-ms-input-placeholder):not(:focus):invalid {
  color: rgba(255, 0, 0, 0.5019607843);
  border-bottom: 1px solid rgba(255, 0, 0, 0.5019607843);
}

.contact-form__input:not(:placeholder-shown):not(:focus):invalid {
  color: rgba(255, 0, 0, 0.5019607843);
  border-bottom: 1px solid rgba(255, 0, 0, 0.5019607843);
}

.contact-form__textarea:not(:-moz-placeholder-shown):not(:focus):invalid {
  color: rgba(255, 0, 0, 0.5019607843);
  border-bottom: 1px solid rgba(255, 0, 0, 0.5019607843);
}

.contact-form__textarea:not(:-ms-input-placeholder):not(:focus):invalid {
  color: rgba(255, 0, 0, 0.5019607843);
  border-bottom: 1px solid rgba(255, 0, 0, 0.5019607843);
}

.contact-form__textarea:not(:placeholder-shown):not(:focus):invalid {
  color: rgba(255, 0, 0, 0.5019607843);
  border-bottom: 1px solid rgba(255, 0, 0, 0.5019607843);
}

.contact-form__invalid {
  display: block;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.0846154px;
  margin-bottom: 16px;
  color: rgba(255, 0, 0, 0.5019607843);
  mix-blend-mode: normal;
  opacity: 0;
}

.contact-form__input:not(:-moz-placeholder-shown):not(:focus):invalid + .contact-form__invalid {
  opacity: 1;
}

.contact-form__input:not(:-ms-input-placeholder):not(:focus):invalid + .contact-form__invalid {
  opacity: 1;
}

.contact-form__input:not(:placeholder-shown):not(:focus):invalid + .contact-form__invalid {
  opacity: 1;
}

.contact-form__textarea:not(:-moz-placeholder-shown):not(:focus):invalid + .contact-form__invalid {
  opacity: 1;
}

.contact-form__textarea:not(:-ms-input-placeholder):not(:focus):invalid + .contact-form__invalid {
  opacity: 1;
}

.contact-form__textarea:not(:placeholder-shown):not(:focus):invalid + .contact-form__invalid {
  opacity: 1;
}

.contact-form__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  margin-bottom: 24px;
}

.contact-form__checked:checked + .contact-form__check {
  background-image: url("../images/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
}

.contact-form__check {
  display: block;
  max-width: 24px;
  width: 100%;
  height: 24px;
  margin-right: 26px;
  background-color: rgba(54, 83, 107, 0.2509803922);
  border: none;
}

.contact-form__label {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #36536B;
}

.contact-form__btn {
  width: 152px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  padding: 15px 30px;
  text-align: center;
  letter-spacing: -0.115385px;
  color: #36536B;
  background-color: transparent;
  border: 0;
  border: 1px solid #36536B;
  border-radius: 24px;
}

.contact-hero__inner-title {
  font-family: "DM Serif Display";
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 32px;
  letter-spacing: -0.184615px;
  color: #36536B;
  mix-blend-mode: normal;
  opacity: 0.75;
}

.contact-hero__list {
  max-width: 740px;
  margin: 0;
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-row-gap: 43px;
}

.contact-hero__form-bottom {
  margin-bottom: 80px;
}

.contact-hero__form-bottom-title--style {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
  letter-spacing: -0.246154px;
  color: #36536B;
}

.contact-hero__bottom-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-hero__input-email {
  max-width: 300px;
  width: 100%;
  margin-bottom: 16px;
  padding-top: 16px;
  padding-bottom: 14px;
  padding-left: 27px;
  border: none;
  background-color: #FBFCFE;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
}

.contact-hero__form-btn {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.115385px;
  color: var(--wather-white);
  max-width: 300px;
  width: 100%;
  margin-bottom: 24px;
  padding: 16px 46px 14px 50px;
  background-color: var(--dark-pink);
  border-radius: 24px;
  border: none;
  cursor: pointer;
}

.contact-hero__form-btn {
  background-color: var(--charm-pink);
}

@media only screen and (min-width: 700px) {
  .hero-header-wrapper--position {
    background-position: 463px -532px;
  }
  .contact-hero__title {
    max-width: 573px;
    font-size: 48px;
    line-height: 56px;
    margin: 0 auto;
    margin-bottom: 54px;
  }
  .contact-hero__form-bottom-title--style {
    font-size: 48px;
    line-height: 56px;
  }
  .contact-hero__list {
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 80px;
    grid-row-gap: 50px;
    margin: 0 auto;
  }
  .contact-hero__bottom-form {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .contact-hero__input-email {
    max-width: 445px;
  }
  .contact-hero__form-btn {
    position: absolute;
    top: 0;
    right: 120px;
    padding: 15px 20px;
    text-align: center;
    max-width: 173px;
  }
}
@media only screen and (min-width: 1000px) {
  .hero-header-wrapper--position {
    background-position: 582px -532px;
  }
  .contact-hero__title {
    max-width: 730px;
    font-size: 56px;
    line-height: 56px;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 43px;
  }
  .contact-hero__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact-form {
    margin-right: 124px;
    margin-left: 0;
    margin-bottom: 80px;
  }
  .contact-hero__form-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact-hero__list {
    grid-column-gap: 60px;
    max-width: 551px;
  }
  .contact-hero__bottom-form {
    width: 445px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .contact-hero__form-btn {
    right: 0;
  }
}/*# sourceMappingURL=main.css.map */